<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ipadress" value="127.0.0.1"/>
    <add key="port" value="7890"/>
    <add key="autostart" value="true"/>
  </appSettings>
</configuration>